snippet py "Python file skeleton" !b
#!/usr/bin/env python

${VISUAL}${1}

# vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
endsnippet

snippet py3 "Python3 file skeleton" !b
#!/usr/bin/env python3

${VISUAL}${1}

# vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
endsnippet
